<div class="footer my-0 mx-0">
  <footer class="py-1 my-4 footer">
    <p><i> &copy;2020 Premierdan Soft, (+234 703 6751 378, premierdangroup@gmail.com) </i><span><i><a id="myLink"
            href="http://www.pdg.com.ng" target="_blank">www.pdg.com.ng</a></i></span> </p>
  </footer>
</div>

<script src="/assess/jquery-3.4.1.min.js"></script>
<script src="/assess/bootstrap.min.js"></script>
<script src="/assess/script.js"></script>
<script src="/assess/fontawesome-free-5.12.0-web/js/all.js"></script>
</body>

</html>